body {
    background-color: lightblue;
    color: maroon;
    font-family: Arial;
    margin: 0px;
}

header {background-color: black;
color: lightgreen;
padding: 10px;
font-size: 16px;
}

footer {
    background-color: black;
    color: lightgreen;
    padding: 10px;
    font-size: 16px;
    text-align: right;
}

a {
    color: green;
    text-decoration: none;
    transition: 1.5s 1.5s;
    text-shadow: 2px 2px 2px gray;
}

a:hover {
color: red;
text-decoration: underline;
background-color: white;
font-weight: bold;
text-shadow: 5px 5px 3px maroon;
transition: 300ms 1.5s;
}

a:active {
    color: pink;
    background-color: green;
}

a:visited {
    color: slateblue;
}